html, body {
  height: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  min-width: 900px;
}

#map {
  height: calc(100vh - 90px);
  /*min-height: 500px;*/
}

.places-count {
  position: absolute;
  bottom: 66px;
  left: 16px;
  width: 200px;
  overflow: auto;
  z-index: 2000;
  background: rgb(242, 247, 199);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.place-details {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 600px;
  max-height: calc(100% - 100px);
  overflow: auto;
  z-index: 2000;
  background: rgb(242, 247, 199);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.no-place-selected {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 200px;
  max-height: calc(100% - 100px);
  overflow: auto;
  z-index: 2000;
  background: rgb(242, 247, 199);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  font-size: 16px;
  font-style: bold;
}

.close-btn {
  float: right;
  border: none;
  background: #0266fc;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.marker-details-btn {
  background-color: #0266fc;
  height: 32px;
  border-radius: 32px;
}

.popup-content {
  border-radius: 16px;
  margin: 0;
  padding: 0;
  text-align:center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}