/* You can add global styles to this file, and also import other style files */
.leaflet-popup-content-wrapper {
  background: rgb(242, 247, 199) !important;
  border-radius: 12px;
  color: black;
  text-align: center !important;
}